<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Ubermelon. Melons when you want them.</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/ubermelon-logo.png">

        <h1>Ubermelon.</h1>

        <p class="lead">Melons when you want them.</p>

        <a href="/melons" class="btn btn-lg btn-primary">Shop Now</a>

    </div>
</div>

<footer>
    <p>Copyright Ubermelon 2014. All rights reserved.</p>
</footer>

</body>
</html>
